<div id="newBook">
    <h2>Add a new book review</h2>
    <form action="/addBook" method="post">
        <input type="text" placeholder="Title" name="title" autofocus="true"/>
        <input type="text" placeholder="Author" name="author" autofocus="true" />
        <input type="text" placeholder="Synopsis" name="synopsis" autofocus="true" />
        <input type="text" placeholder="ISBN" name="isbn" autofocus="true" />
        <button type="submit">Submit</button>
    </form>
</div>